In [5]:
import os
import numpy as np
import pandas as pd

directory = "Resume_Files"

# Column names
filename_col = 'filename'
resume_col = 'resume'

alist = list()

# Generate Resume Data set
for filename in os.listdir(directory):
  basepath = os.getcwd() + "/" + directory + "/"  # Base path of your directory from the root till dir
  filepath = basepath+filename
  
  f = open(filepath)
  temp = {filename_col: filename, resume_col: f.read()}
  alist.append(temp)
  f.close()

resume_df = pd.DataFrame(alist)

In [6]:
resume_df.head()

,filename,resume
0,DanahNielsen_26409,danah nielsen hostess albuquerque nm seek...
1,ChristopherBrown_30650,christopher brown west memphis ar to obta...
2,MinnesotaStateParksWorkerSecurityRangerSeasona...,minnesota state parks worker security ranger...
3,NaveenNetDeveloper_46188,naveen net developer java developer bcbsm ...
4,TimSchannauer_22646,tim schannauer electrician helper lane valente...

In [7]:
resume_df.shape

(50032, 2)

In [2]:
import os

os.getcwd()

'/Users/mohseen/Development/Durham/Capstone/DataSet'

In [8]:
resume_df.to_csv('Resume_Dataset.csv')

In [11]:
directory = "JD_Files"

# Column names
filename_col = 'filename'
resume_col = 'job_desc'

alist = list()

# Generate Job description Data set
for filename in os.listdir(directory):
  basepath = os.getcwd() + "/" + directory + "/"  # Base path of your directory from the root till dir
  filepath = basepath+filename
  enc = 'iso-8859-15'
  f = open(filepath, encoding= enc)
  temp = {filename_col: filename, resume_col: f.read()}
  alist.append(temp)
  f.close()

job_df = pd.DataFrame(alist)

In [15]:
job_df.head(10)

,filename,job_desc
0,NOC Engineer_64709,Job Description Send me Jobs like this J...
1,Senior Frontend De_21106,Senior Frontend Developer JavascriptThis ...
2,Sr Software Develo_2360,Are you interested in building an amazing r...
3,Head of Compliance_97878,Apply now To lead the Bank s Compliance ...
4,Customer Service R_141060,Inteligente Solutions offers excellent e...
5,Sales Manager East_95277,Apply now Sales Manager Eastern Europe So...
6,BW developer with_36857,PDI is looking for senior SAP BW developerY...
7,Executive Assistan_127299,We are looking for an experienced Executiv...
8,Customer Service R_125525,Job Classification Contract n nLooking ...
9,Biomedical Enginee_17883,Minimum Required SkillsBiomaterials Regulat...

In [13]:
job_df.to_csv('Job_Description_DataSet.csv')

In [14]:
job_df.shape

(151211, 2)