In [86]:
#import libraries
import pandas as pd
import neattext.functions as nfx
import matplotlib.pyplot as plt
import numpy as np
from collections import Counter

In [87]:
df=pd.read_csv('combined.csv')

In [88]:
df.head()

,Type,filename,details
0,Resume,DanahNielsen_26409,danah nielsen hostess albuquerque nm seek...
1,Resume,ChristopherBrown_30650,christopher brown west memphis ar to obta...
2,Resume,MinnesotaStateParksWorkerSecurityRangerSeasona...,minnesota state parks worker security ranger...
3,Resume,NaveenNetDeveloper_46188,naveen net developer java developer bcbsm ...
4,Resume,TimSchannauer_22646,tim schannauer electrician helper lane valente...

In [89]:
df['filename_a'] = df['Type'] + ' ' + df['filename']

In [90]:
df.head()

,Type,filename,details,filename_a
0,Resume,DanahNielsen_26409,danah nielsen hostess albuquerque nm seek...,Resume DanahNielsen_26409
1,Resume,ChristopherBrown_30650,christopher brown west memphis ar to obta...,Resume ChristopherBrown_30650
2,Resume,MinnesotaStateParksWorkerSecurityRangerSeasona...,minnesota state parks worker security ranger...,Resume MinnesotaStateParksWorkerSecurityRanger...
3,Resume,NaveenNetDeveloper_46188,naveen net developer java developer bcbsm ...,Resume NaveenNetDeveloper_46188
4,Resume,TimSchannauer_22646,tim schannauer electrician helper lane valente...,Resume TimSchannauer_22646

In [91]:
df['details'] = df['details'].str.lower()

In [92]:
df['details'] = df['details'].str.replace('()','').str.replace('-','').str.replace('.','')

In [93]:
df['details'] = df['details'].map(str)

In [94]:
df['details'] = df['details'].apply(nfx.remove_numbers).apply(nfx.remove_stopwords).apply(nfx.remove_special_characters)

In [95]:
df['details'] = df['details'].apply(nfx.remove_stopwords).apply(nfx.remove_non_ascii)

In [96]:
df['details'] = df['details'].str.replace('Apply', '').str.replace('apply', '')
df['details'] = df['details'].str.replace('Job', '').str.replace('job', '').str.replace('Description', '').str.replace('description', '').str.replace('Classification', '')

In [97]:
df.head()

,Type,filename,details,filename_a
0,Resume,DanahNielsen_26409,danah nielsen hostess albuquerque nm seeking p...,Resume DanahNielsen_26409
1,Resume,ChristopherBrown_30650,christopher brown west memphis ar obtain posit...,Resume ChristopherBrown_30650
2,Resume,MinnesotaStateParksWorkerSecurityRangerSeasona...,minnesota state parks worker security ranger s...,Resume MinnesotaStateParksWorkerSecurityRanger...
3,Resume,NaveenNetDeveloper_46188,naveen net developer java developer bcbsm mi d...,Resume NaveenNetDeveloper_46188
4,Resume,TimSchannauer_22646,tim schannauer electrician helper lane valente...,Resume TimSchannauer_22646

In [98]:
import nltk 
nltk.download('punkt') 
nltk.download('averaged_perceptron_tagger') 
nltk.download('wordnet') 
  
  
from nltk.stem import WordNetLemmatizer 
lemmatizer = WordNetLemmatizer() 
  
from nltk.corpus import stopwords 
nltk.download('stopwords') 
stop_words = set(stopwords.words('english')) 
  
VERB_CODES = {'VB', 'VBD', 'VBG', 'VBN', 'VBP', 'VBZ'}

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Atul\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Atul\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Atul\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Atul\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [99]:
len(df) 
  
finaldata = df[["filename_a", "details"]]          # Required columns - Title and combined data  
finaldata = finaldata.set_index('filename_a')    # Setting the job title title as index 
  
finaldata.head(10) 
finaldata["details"][0]

'danah nielsen hostess albuquerque nm seeking position challenge provide ongoing experiences organization utilizing skills assisting development additional skills professional advancement work experience hostess hop august greeted customers monitored open dining sections cleaned tables managed guest waiting list answering telephone booking reservations center representative september march received inbound calls assist customers problems found resolutions ensure customer satisfaction outbound calls provide customer satisfaction service purchases provided prompt customer service follow appointments necessary server kelly brew pub august september took orders efficiently served food drinks removed dinnerware table responsibly served alcohol state local requirements managed money transactions appropriately completed opening closing procedures dictated establishment time sheet auditor consumer direct personal care october july audited timesheets submitted caregivers ensure completeness accuracy hours documented daily submission forms payroll computer time paycheck distribution deadline met maintained caregiver files updated company database changes e caregiver demographics worked receptionist needed education central new mexico community college high school diploma sandia high school additional information skills proven customer service skills works team player proficient aspects operating cash register money managing experienced microsoft excel outlook word'

In [100]:
finaldata.shape

(1577, 1)

In [101]:
#takes few min
def preprocess_sentences(text): 
  text = text.lower() 
  temp_sent =[] 
  words = nltk.word_tokenize(text) 
  tags = nltk.pos_tag(words) 
  for i, word in enumerate(words): 
      if tags[i][1] in VERB_CODES:  
          lemmatized = lemmatizer.lemmatize(word, 'v') 
      else: 
          lemmatized = lemmatizer.lemmatize(word) 
      if lemmatized not in stop_words and lemmatized.isalpha(): 
          temp_sent.append(lemmatized) 
          
  finalsent = ' '.join(temp_sent) 
  finalsent = finalsent.replace("n't", " not") 
  finalsent = finalsent.replace("'m", " am") 
  finalsent = finalsent.replace("'s", " is") 
  finalsent = finalsent.replace("'re", " are") 
  finalsent = finalsent.replace("'ll", " will") 
  finalsent = finalsent.replace("'ve", " have") 
  finalsent = finalsent.replace("'d", " would") 
  return finalsent 
  
finaldata["details_processed"]= finaldata["details"].apply(preprocess_sentences) 
finaldata.head()

,details,details_processed
filename_a,,
Resume DanahNielsen_26409,danah nielsen hostess albuquerque nm seeking p...,danah nielsen hostess albuquerque nm seek posi...
Resume ChristopherBrown_30650,christopher brown west memphis ar obtain posit...,christopher brown west memphis ar obtain posit...
Resume MinnesotaStateParksWorkerSecurityRangerSeasonalParttime_32908,minnesota state parks worker security ranger s...,minnesota state park worker security ranger se...
Resume NaveenNetDeveloper_46188,naveen net developer java developer bcbsm mi d...,naveen net developer java developer bcbsm mi d...
Resume TimSchannauer_22646,tim schannauer electrician helper lane valente...,tim schannauer electrician helper lane valente...

In [ ]:
#we can use this according to data that how much clean final data is
#import re
#remove_less = lambda x: re.sub(r'\b\w{​​1,4}​​\b', '', x)
#finaldata["resume_processed"]= finaldata["resume"].apply(remove_less)

In [102]:
from sklearn.feature_extraction.text import TfidfVectorizer 
  
# Vectorizing pre-processed combo using TF-IDF 
tfidfvec = TfidfVectorizer() 
tfidf_job = tfidfvec.fit_transform((finaldata["details_processed"]))

In [103]:
tfidfvec

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words=None, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [104]:
tfidf_job

<1577x22614 sparse matrix of type '<class 'numpy.float64'>'
	with 183856 stored elements in Compressed Sparse Row format>

In [105]:
tfidf_job.shape

(1577, 22614)

In [106]:
# Finding cosine similarity between vectors 
from sklearn.metrics.pairwise import cosine_similarity 
cos_sim = cosine_similarity(tfidf_job, tfidf_job)

In [107]:
# Storing indices of the data 
indices = pd.Series(finaldata.index) 
  
def recommendations(title, cosine_sim = cos_sim): 
    recommended_job = [] 
    index = indices[indices == title].index[0] 
    similarity_scores = pd.Series(cosine_sim[index]).sort_values(ascending = False) 
    top_10_jobs = list(similarity_scores.iloc[1:91].index)
    for i in top_10_jobs: 
        recommended_job.append(list(finaldata.index)[i]) 
    return recommended_job

# Given Resume and similar JD output

In [108]:
#recommendation sample 1 -> Resume to JD

rec_1=recommendations("Resume DanahNielsen_26409")

In [109]:
# Import re module to use regular expression
import re
 
# Declare the list contains subject code
sublist = rec_1

# Declare the filter function
def Filter(datalist):
    # Search data based on regular expression in the list
    return [val for val in datalist
        if re.search(r'^JD', val)]

# Print the filter data
print(Filter(sublist))

['JD Customer Service R_138097', 'JD Customer Service R_149000', 'JD Customer Service R_121171', 'JD Customer Service R_122169', 'JD Customer Service R_124255', 'JD Customer Service R_126354', 'JD Customer Service R_145262', 'JD Customer Service R_139383', 'JD Customer Service R_135743', 'JD Customer Service R_17790', 'JD Customer Service R_132102', 'JD Customer Service M_86092', 'JD Nights Administrat_86114', 'JD Insurance Sales C_38311', 'JD NOC Engineer_31706', 'JD Customer Service R_137219', 'JD Customer Service R_143161', 'JD Customer Service R_130493']

In [110]:
#recommendation sample 2 -> Resume to JD

rec_2=recommendations("Resume LeadAnalyticalChemist_49625")

sublist = rec_2

def Filter(datalist):
    return [val for val in datalist
        if re.search(r'^JD', val)]
print(Filter(sublist))

['JD QC Analyst_118242', 'JD Bioanalytical Scie_50811', 'JD Research Associate_33599', 'JD Formulation Chemis_118253', 'JD Clinical Laborator_47443', 'JD Sr Lab Application_19171', 'JD Software Test Engi_49258', 'JD Sr Network Integra_45136', 'JD Software Engineer_48916', 'JD Sales Representati_133553', 'JD Head of Technical_11891', 'JD Data Analyst_16438', 'JD Material Handler L_44370', 'JD Business Analyst_127377', 'JD Associate Quality_75342', 'JD Senior C Software_40735', 'JD Network Engineer_28249', 'JD Data Center Archit_37869', 'JD Software QA Engine_50134', 'JD Senior Data Wareho_27664', 'JD Financial Analyst_142040', 'JD Technical Marketin_32963', 'JD Sales Data and Rep_97030', 'JD SW Engineer Embedd_34124', 'JD CCSoftware Develop_23487', 'JD Product Manager S_66426', 'JD Software Developme_1776', 'JD Product Safety Spe_55386', 'JD QA Analyst Job in_39500', 'JD Junior Data Analys_16623', 'JD software engineer_33028', 'JD Quality Engineer L_28960', 'JD Senior Workstation_28438', 'JD Automation Archite_32761', 'JD Printing Suppor_23682', 'JD Maximo Developer_29052', 'JD Technical Architec_73887', 'JD BUSINESS DEVELOPME_74973', 'JD Data Analyst_16097', 'JD Junior QA Engineer_17878', 'JD Amdy Mgr Vender D_70238', 'JD Senior Software De_2001', 'JD Senior Software En_1703']

# Given JD and similar Resume output

In [111]:
#recommendation sample 3 -> JD to Resume

rec_3=recommendations("JD Project Manager Ne_27426")

sublist = rec_3

def Filter(datalist):
    return [val for val in datalist
        if re.search(r'^Resume', val)]
print(Filter(sublist))

['Resume PrincipalEmbeddedSoftwareEngineer_34595', 'Resume TeachleadsupervisorTrainercoordinator_28532', 'Resume TeresaMoore_10875', 'Resume EndtoEndSystemsEngineer_48584', 'Resume ProjectManagerSystemImplementation_36556', 'Resume ITConsultant_47848', 'Resume SaravSundar_48772', 'Resume BrianRaser_38265', 'Resume JasonEnglish_48805', 'Resume SabrinaThompson_13871', 'Resume ManagerTech_24966', 'Resume RonaldHAynes_4727', 'Resume Associate_24579']

In [112]:
#recommendation sample 4 -> JD to Resume

rec_4=recommendations("JD Business Analyst_147857")

sublist = rec_4

def Filter(datalist):
    return [val for val in datalist
        if re.search(r'^Resume', val)]
print(Filter(sublist))

['Resume MatthewJackowski_44021', 'Resume SabrinaThompson_13871', 'Resume JasonEnglish_48805', 'Resume KrishnaSrDISpecialist_47004', 'Resume SaravSundar_48772', 'Resume ProjectManagerSystemImplementation_36556']