In [39]:
#import libraries
import pandas as pd
import neattext.functions as nfx
import matplotlib.pyplot as plt
import numpy as np
from collections import Counter

In [40]:
df=pd.read_csv('Job_Description_DataSet_Sample.csv')

In [41]:
df.head()

,Unnamed: 0,filename,job_desc
0,0,NOC Engineer_64709,Job Description Send me Jobs like this J...
1,1,Senior Frontend De_21106,Senior Frontend Developer JavascriptThis ...
2,2,Sr Software Develo_2360,Are you interested in building an amazing r...
3,3,Head of Compliance_97878,Apply now To lead the Bank s Compliance ...
4,4,Customer Service R_141060,Inteligente Solutions offers excellent e...

In [42]:
df['jd'] = df['filename'] + ' ' + df['job_desc']

In [43]:
df.head()

,Unnamed: 0,filename,job_desc,jd
0,0,NOC Engineer_64709,Job Description Send me Jobs like this J...,NOC Engineer_64709 Job Description Send ...
1,1,Senior Frontend De_21106,Senior Frontend Developer JavascriptThis ...,Senior Frontend De_21106 Senior Frontend ...
2,2,Sr Software Develo_2360,Are you interested in building an amazing r...,Sr Software Develo_2360 Are you interested ...
3,3,Head of Compliance_97878,Apply now To lead the Bank s Compliance ...,Head of Compliance_97878 Apply now To lead...
4,4,Customer Service R_141060,Inteligente Solutions offers excellent e...,Customer Service R_141060 Inteligente So...

In [44]:
df['jd'] = df['jd'].apply(nfx.remove_emails)
df['jd'] = df['jd'].apply(nfx.remove_phone_numbers)
df['jd'] = df['jd'].str.replace('()','').str.replace('-','')
df['jd'] = df['jd'].apply(nfx.remove_numbers).apply(nfx.remove_stopwords).apply(nfx.remove_special_characters)

In [45]:
df['jd'] = df['jd'].str.lower()
df['jd'] = df['jd'].apply(nfx.remove_stopwords).apply(nfx.remove_non_ascii)
df['jd'] = df['jd'].apply(nfx.remove_emails).apply(nfx.remove_currency_symbols).apply(nfx.remove_punctuations)

In [46]:
df['jd'] = df['jd'].str.replace('Apply', '').str.replace('apply', '')
df['jd'] = df['jd'].str.replace('Job', '').str.replace('job', '').str.replace('Description', '').str.replace('description', '').str.replace('Classification', '')

In [47]:
df.head()

,Unnamed: 0,filename,job_desc,jd
0,0,NOC Engineer_64709,Job Description Send me Jobs like this J...,noc engineer send s like noc engineer remo...
1,1,Senior Frontend De_21106,Senior Frontend Developer JavascriptThis ...,senior frontend de senior frontend developer j...
2,2,Sr Software Develo_2360,Are you interested in building an amazing r...,sr software develo interested building amazing...
3,3,Head of Compliance_97878,Apply now To lead the Bank s Compliance ...,head compliance lead bank compliance anti fin...
4,4,Customer Service R_141060,Inteligente Solutions offers excellent e...,customer service r inteligente solutions offer...

In [48]:
import nltk 
nltk.download('punkt') 
nltk.download('averaged_perceptron_tagger') 
nltk.download('wordnet') 
  
  
from nltk.stem import WordNetLemmatizer 
lemmatizer = WordNetLemmatizer() 
  
from nltk.corpus import stopwords 
nltk.download('stopwords') 
stop_words = set(stopwords.words('english')) 
  
VERB_CODES = {'VB', 'VBD', 'VBG', 'VBN', 'VBP', 'VBZ'}

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Atul\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Atul\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Atul\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Atul\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [49]:
len(df) 
  
finaldata = df[["filename", "jd"]]          # Required columns - Title and combined data  
finaldata = finaldata.set_index('filename')    # Setting the job title title as index 
  
finaldata.head(10) 
finaldata["jd"][0]

'noc engineer   send s like   noc engineer remoc engineer provide x monitoring support infrastructure devices like network device servers applications operations incident alert management outage handling principle responsibilities x infrastructural monitoring monitoring process adherence outageincident handling management lead troubleshooting bridge right support group resolve incident follow rca manage internal notification roll planned unplanned change requests maintenance provide time reports bandwidth reports etc monitoring tool documentation monitor inventory update visio management key skills worked monitoring tools like solarwinds scom preferable server knowledge dns dhcp ad etc knowledge osi model tcpip snmp smtp http ftp tftp rdp telnet ssh basic troubleshooting network devices server hardware level troubleshooting certification ccna mcse sql understanding itil concepts certification itil preferable interested candidate inbox updated resume mentioned details current ctc expected ctc notice period note looking candidate join immediate basis days contact details landline mob mrajputfcsltdcom follow twitter rajputmanikant linkedin httpbitlyjtf salary disclosed recruiter industry itsoftware software services functional area software application programming maintenance role categoryadminmaintenancesecuritydatawarehousing rolenetwork administrator keyskills ccna networking osi model ip tftp smtp dns dhcp monitoring solarwinds scom troubleshooting desired candidate profile education ug graduate specialization graduation required pgany postgraduate specialization post graduation required doctorateany doctorate specialization doctorate required refer   company profile fcs software solutions limited fcs leading provider services past decade existence fcs carved niche core areas like elearning digital content services resource staffing bpo product engineering services business innovator fcs helps clients achieve extraordinary results customer relationships business operations technology clients choose fcs impact achieve commitment success straightforward collaborative way work customers list include medidata canon merck samsung tcs axalta coating systems fortune companies annual rd scorecard companies world european unions executive body european commission ec ranked fcs software solutions th indian firms stateofthe art facilities based noida chandigarh dehradun running x continuous growth possible result livewire energetic focused workforce highly competent professionals worked extensively areas application development support elearning solutions business infrastructure management bpo details click wwwfcsltdcom download ppt photo view contact details'

In [50]:
finaldata.shape

(1006, 1)

In [51]:
#takes few min
def preprocess_sentences(text): 
  text = text.lower() 
  temp_sent =[] 
  words = nltk.word_tokenize(text) 
  tags = nltk.pos_tag(words) 
  for i, word in enumerate(words): 
      if tags[i][1] in VERB_CODES:  
          lemmatized = lemmatizer.lemmatize(word, 'v') 
      else: 
          lemmatized = lemmatizer.lemmatize(word) 
      if lemmatized not in stop_words and lemmatized.isalpha(): 
          temp_sent.append(lemmatized) 
          
  finalsent = ' '.join(temp_sent) 
  finalsent = finalsent.replace("n't", " not") 
  finalsent = finalsent.replace("'m", " am") 
  finalsent = finalsent.replace("'s", " is") 
  finalsent = finalsent.replace("'re", " are") 
  finalsent = finalsent.replace("'ll", " will") 
  finalsent = finalsent.replace("'ve", " have") 
  finalsent = finalsent.replace("'d", " would") 
  return finalsent 
  
finaldata["jd_processed"]= finaldata["jd"].apply(preprocess_sentences) 
finaldata.head()

,jd,jd_processed
filename,,
NOC Engineer_64709,noc engineer send s like noc engineer remo...,noc engineer send like noc engineer remoc engi...
Senior Frontend De_21106,senior frontend de senior frontend developer j...,senior frontend de senior frontend developer j...
Sr Software Develo_2360,sr software develo interested building amazing...,sr software develo interested building amaze r...
Head of Compliance_97878,head compliance lead bank compliance anti fin...,head compliance lead bank compliance anti fina...
Customer Service R_141060,customer service r inteligente solutions offer...,customer service r inteligente solution offer ...

In [ ]:
#we can use this according to data that how much clean final data is
#import re
#remove_less = lambda x: re.sub(r'\b\w{​​1,4}​​\b', '', x)
#finaldata["resume_processed"]= finaldata["resume"].apply(remove_less)

In [52]:
from sklearn.feature_extraction.text import TfidfVectorizer 
  
# Vectorizing pre-processed combo using TF-IDF 
tfidfvec = TfidfVectorizer() 
tfidf_job = tfidfvec.fit_transform((finaldata["jd_processed"]))

In [53]:
tfidfvec

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words=None, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [54]:
tfidf_job

<1006x16322 sparse matrix of type '<class 'numpy.float64'>'
	with 112470 stored elements in Compressed Sparse Row format>

In [55]:
tfidf_job.shape

(1006, 16322)

In [56]:
# Finding cosine similarity between vectors 
from sklearn.metrics.pairwise import cosine_similarity 
cos_sim = cosine_similarity(tfidf_job, tfidf_job)

In [58]:
# Storing indices of the data 
indices = pd.Series(finaldata.index) 
  
def recommendations(title, cosine_sim = cos_sim): 
    recommended_job = [] 
    index = indices[indices == title].index[0] 
    similarity_scores = pd.Series(cosine_sim[index]).sort_values(ascending = False) 
    top_10_jobs = list(similarity_scores.iloc[1:11].index) 
    for i in top_10_jobs: 
        recommended_job.append(list(finaldata.index)[i]) 
    return recommended_job

# Given JD TO SIMILAR JD

In [60]:
#recommendation sample 1
recommendations("NOC Engineer_64709")

['NOC Engineer_31706',
 'Operation Engineer_75160',
 'Network Engineer_28249',
 'IT Tech Services L_37442',
 'Senior IT Network_56504',
 'Systems Administra_62569',
 'Opportunity for We_58589',
 'Hiring Freshers H_60844',
 'French Service des_62106',
 'IT Manager_93204']

In [61]:
#recommendation sample 2
recommendations("Systems Administra_62569")

['Job Opening HCL T_60528',
 'Systems Administra_27390',
 'Java Developer Web_21176',
 'SQL DBA Database_93468',
 'Operation Engineer_75160',
 'Infrastructure Arc_29292',
 'IT Manager_93204',
 'Hiring TFS Profess_69518',
 'SystemC  ESL_62276',
 'Systems Administra_18740']

In [62]:
#recommendation sample 3
recommendations("Head of Compliance_97878")

['Risk Regulation A_86673',
 'FX trading company_86038',
 'Quality Assurance_11456',
 'Senior Accountant_130354',
 'Qualiy Assurance M_117616',
 'Product Safety Spe_55386',
 'Information Securi_27272',
 'Financial Analyst_129129',
 'Biomedical Enginee_17883',
 'Controls and Audit_84344']

In [63]:
#recommendation sample 4
recommendations("Java Developer Web_21176")

['Java Developer_120742',
 'Systems Administra_27390',
 'Infrastructure Arc_29292',
 'Systems Administra_62569',
 'Application Develo_32294',
 'SQL DBA Database_93468',
 'Sr Java Developer_29497',
 'Java Developer_31216',
 'Manager Software D_20101',
 'PHP Developer LAM_24842']

In [64]:
#recommendation sample 5
recommendations("PHP Developer LAM_24842")

['PHP Developer_34603',
 'Web Developer PHP_62805',
 'Lead Java Develope_32446',
 'Application Develo_32294',
 'Technical Architec_73887',
 'SEO Content Execut_83208',
 'UX DesignerDevelop_20644',
 'Java Developer Web_21176',
 'C Java SQL_35834',
 'Java Developer_120742']